<!DOCTYPE html>
<html>
<head>
  <title>BenchBnb</title>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyC2FoKyEetjjiLdsnTYz5n1pBHNilxU3uE" %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
